body{
    background-color: rgb(182, 150, 150);
    color: white;
}
header{
     background-color: black;
   display: flex;
}
#nanos{
    display: flex;
    margin-left: 100px;
    margin-right: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#na{
   color: red;
}
#nos{
    color: green;
}
a{
    margin-right: 6px;
   color: green;
    font-size: 20px;
}
a:hover{
color: red;
}
#links{
    display: flex;
    margin-top: 30px;
}
.part1{
    display: flex;
}
#info{
background: rgba(10, 10, 10, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 5px solid rgba(0, 0, 0, 0.3);
width: 400px;
text-align: center;
margin-top: 20px;
margin-left: 60px;
}
#txt{
    font-size: 40px;
}
p{
    font-size: 30px;
}
#imgNanos{
    margin-top: 20px;
    margin-left: 200px;
}
#titulos{
    background: rgba(10, 10, 10, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 5px solid rgba(0, 0, 0, 0.3);
width: 900px;
text-align: center;
margin-top: 20px;
margin-left: 200px;
}